* {
    color: white;
    text-align: center;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    width: 1vh;
    overflow-x: hidden;
    min-height: 1vh;
    height: 1vh;
    background-color: #0e0e0e;
}

.content {
    display: flex;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 27vh;
    flex-direction: row;
    justify-content: center;
    flex-direction: row;
}

img.logo {
    width: 15vh;
    height: auto;
    transition: 0.4s ease-in-out;
}

img.hover:hover {
    height: auto;
    transition: 0.4s ease-in-out;
    transform: scale(1.2);
}

.info {
    position: absolute;
    width: 10vh;
    top: 0;
}

h2 {
    font-size: 4vh;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.7vh;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #4d4d4d;
}